# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Ahmed Abd ElGhany\OneDrive - fayoum.edu.eg\FOS\3rd year\second semster\CS\CS Lab\LastAdvOOP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
